﻿
@{
    ViewBag.Title = "LoggedIn";
}

<h2>LoggedIn</h2>
<div>
    @Html.ActionLink("Search", "PolicyDetails")
</div>
@if (Session["EnployeeId"] != null)
{
    <h4> Welcome to  Employee</h4>

}
